.tag {
    border: none;
    border-radius: 10px;
    background: #004896;
    color: #FFFFFF;
    left: 28%;
    margin-right: 9px;
    width: 97px;
    height: 45px;
    text-decoration-line: none;
    text-align: center;
    line-height: 45px;
    font-weight: 400;
    display: inline-block;
}
.bodyFont {
    font-weight: 400;
    font-family: "SUIT-Regular";
    font-size: 1rem;
    width: 60vw;
}

.bodyFont div:nth-of-type(1) {
    position: relative;
}


.titleInput {
    height: 45px;
    width: 50vw;

}
.font {
    font-weight: 400;
}

.subTitle {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.7rem;
}

.bodyFont span:nth-of-type(1){
    margin-bottom: 10px;
}

.boardContent {
    resize: none;
    border-radius: 10px;
    width:55vw;

    font-family: "SUIT-Regular";
    font-weight: 400;
    font-size: 2vmin;
    line-height: 4vmin;
    padding: 10px 30px 10px 30px;
}

.boardBtn {
    padding-left: 30vw;
    font-weight: 400;
    font-size: 1em;
}

hr {
    margin-left: 0;
    width: 60vw;
    border-top: 1px solid #FFFFFF;
}

hr:last-child {
    border-top: 1px solid;
}


.createAt {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.likeBtn {
    /*margin-left: 83px;*/
    position: relative;
    padding: 0;
    margin-top: 10px;
    width: 500px;
}

.likeBtn span {
    margin-left: 30px;
    position: absolute;
    width: auto;
    margin-top: 20px
}

.commentAndLike {
    position: relative;
    width: 60vw;
}

.commentAndLike div:nth-of-type(1){
    position: absolute;
    margin-top: 20px;
    right: 0;
}
path {

    padding-top: 10px;
}

.count {
    margin-left: 10px;
}

.commentContainer {
    width: 60vw;
    background: #FFFFFF;
    border-radius: 10px;

    line-height: 60px;
    margin-top: 19px;
}

.comment span:nth-of-type(2n+1) {
    margin-left: 11px;
}

.comment span:nth-of-type(2n) {
    margin-left: 41px;
}

.comment {
    padding-left: 10px;

}

.commentContainer hr {
    width: 58vw;
}

.addCommentInput {
    /*margin-top: 50px;*/
    /*margin-bottom: 20px;*/
    resize: none;
    border-radius: 10px;
    border: none;
    /*display: inline-block;*/
}

.addCommentInput2 {
    width: 50vw;
}

.addCommentBtn {
    margin-top:5px;
    margin-left: 10px;
    width: auto;
    height: 50px;
    right: 0;
}

.boardEditBtn {
    /*margin-left: 20vw;*/
    /*margin-top: 20px;*/
    position: relative;
    height: 40px;
    width: 60vw;
}

.boardEditBtn button {
    position: absolute;
    right: 0;
    width: 4em;
    height: 2em;
    margin-top: 20px;
}

.boardEditBtn button:nth-of-type(3){
    /*margin-right: 20px;*/
    margin-right: 0;
}
.boardEditBtn button:nth-of-type(2){
    margin-right: 85px;
}

.boardEditBtn button:nth-of-type(1){
    margin-right: 170px;
}


.boardList {
    width: 60vw;
    background-color: #004896;
    border-radius: 10px;
    padding:0;
    margin-bottom: 10px;
}

.boardList button:hover {
    background-color: #191970;
}

/*.boardList button:active {*/
/*    background-color: #191970;*/
/*}*/

.visited {
    background-color: #191970;
}

.boardTitlePreview {
    margin-right: 10vw;
    width: 200px;
    display: inline-block;
}

.listName span:last-child {
    margin-right:0;
}

.properties {
    margin-right: 10vw;
}

ul {
    list-style: none;
    padding:0
}

.btnDiv {
    display: inline-block;
}

/* readOnly 상태일 때의 스타일 */
textarea[readonly] {
    opacity: 0.5; /* 투명도 조절 */
    background-color: #f0f0f0; /* 배경색 변경 */
    cursor: not-allowed; /* 마우스 커서 변경 */
}

/* readOnly가 아닌 상태일 때의 스타일 */
textarea:not([readonly]) {
    opacity: 1; /* 투명도 조절 */
    background-color: #ffffff; /* 기본 배경색 */
    cursor: text; /* 기본 텍스트 커서 */
}

.hrStyles {
    border: none; /* Remove default border */
    border-top: 1px dashed #ccc; /* Add dashed border on top */
    margin: 20px 0 0 0; /* Adjust margin as needed */
}






