.box {
    position: relative;
    height: 30px;
    line-height: 2rem;
    background-color: rgba(0, 72, 150, 0.5);
    padding-left: 20px;
}

.box span:nth-of-type(1) {
    font-weight: 600;
}
.box span:nth-of-type(2) {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.commentContainer {
    border: solid 0.5px rgba(0, 72, 150, 0.5);
    margin-top: 30px;
    width: 60vw;
    height: auto;
    position: relative;
}


.commentContent {
    line-height: 2rem;
    padding-left: 20px;
}

.editCommentBtn {
    position: relative;
}

.updateCommentBtn {
    position: absolute;
    /*margin: 0;*/
    font-size: 1rem;
    width: 4em;
    height: 2em;
    /*margin-left: 30vw;*/
    right: 0;
    margin-right: 55px;

    bottom: 0;
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    color: #000; /* Text color */
    cursor: pointer;
}


.deleteBtn {
    /*margin-left: 100px;*/
    position: absolute;
    font-size: 1rem;
    width: 4em;
    height: 2em;
    /*margin-left: 30vw;*/
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    color: #000; /* Text color */
    cursor: pointer;
}

.completeBtn {
    margin-right: 100px;
}

.updateComment {
    font-size: 2vmin;
    padding: 10px 30px 0 30px;
    font-family: "SUIT-Regular";
    width: 40vw;
    border-radius: 0;
    height: 40px;
    /*background-color: #e5ecf4;*/
}



textarea {
    resize: none; /* Disable resizing */
}

textarea[readonly] {
    cursor: default;
}
