.nav {
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-right: 43px;
    line-height: 50px;
    text-decoration-line: none;
    color: inherit;
    font-size: 1.2vw;
}
.nav1 {
    left: 40vw;
}

.nav2{
    left: 50vw;
}
.nav3{
    left: 60vw;
}
.nav4{
    left: 70vw;
}